@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;600&display=swap');

:root {
  --deep-green: #023B2C;     
  --charcoal: #3E3D3D;       
  --slate-blue: #335C67;     
  --crimson: #A60F2D;       
  --golden-yellow: #FCB040;  
  --beige-gray: #CCC29C;     
  --light-cream: #F2F0E6;  
  --soil-brown: #603916;
  --active-blue: #2268a1;
  --active-green: #22b648e6;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: #333;
}

.home-btn {
    color: white;
    background-color: var(--slate-blue);
    padding: 12px;
    border: none;
    font-size: 16px;
}

.shiny-html-output.shiny-bound-output {
  width:100%;
}


/* Shared container styles for both radio and checkbox groups */
.radio-group-buttons .btn-group-container-sw,
.checkbox-group-buttons .btn-group-container-sw {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 10px;
}

/* Individual button group wrapper */
.radio-group-buttons .btn-group-toggle,
.checkbox-group-buttons .btn-group-toggle {
  flex: 1;
  max-width: 200px;
}

/* Shared button styles */
.radiobtn.btn-default,
.checkbtn.btn-default {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 12px !important;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;
  color: var(--deep-green);
}

/* Hover states */
.radiobtn.btn-default:hover,
.checkbtn.btn-default:hover {
  background-color: #e6f5eb;
  border-color: #028A2E;
}

/* Active states */
.radiobtn.btn-default.active,
.checkbtn.btn-default.active {
  background-color: #d6efe3;
  border-color: #028A2E;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.form-group {
  width: 100%;
}



#build-step_nav_buttons {
  display:flex;
  justify-content: space-between;
  width:100%;
}

#build-step4-producer_input .actions-btn.bs-select-all.btn.btn-default {
  display:none;
}

#build-step4-producer_input .actions-btn.bs-deselect-all.btn.btn-default
{
    width: 100%;
    border-radius: 2px;
    margin-left: 0px;
}

.form-footer {
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-brand a {
  color: white;
}

.tabbable .tab-content .content {
  padding:0px!important;
}

.tabbable .tab-content img {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

#modal-preview .nav-tabs {
  font-family: "Georgia";
  font-weight: bold;
}

#modal-preview h2 {
  font-family: "Georgia";
  color: var(--deep-green);
  font-size: 25px;
}

#modal-preview p {
  font-family: "Arial";
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: var(--deep-green);
    font-weight: bold;
}

.navbar-default .navbar-nav a:hover {   
    color: white!important; 
    background-color: var(--soil-brown)!important;
}



.shiny-input-container:not(.shiny-input-container-inline) {
  width:100%;
}




.reset-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.reset-button:hover {
  background-color: #888;
}
      




h1, h2, h3 {
  font-family: Poppins;
  font-weight:bold;
}

.content-container {
    display: flex;
  }
.content {
  width: 100%;
  padding: 15px 50px;
}

.content img {
  width:100%;
}

.content h2 {
  margin-top:50px;
  color: var(--deep-green);
}

.toc-scroll {
  width: 35%;
  max-height: calc(100vh - 50px); /* Ensure the TOC fits the viewport */
  overflow-y: auto;
  position: sticky;
  top: 25px;
  padding: 50px 50px 0px 0px;
  scroll-behavior: smooth; /* Enable smooth scrolling for the TOC itself */
}

.toc-scroll a {
  display: block;
  padding: 5px 10px;
  color: var(--deep-green);
  text-decoration: none;
  font-size: 14px;
  border-left: 2px solid #EEEEEE; 
  transition: background-color 0.3s, border-color 0.3s;
}

.toc-scroll a:hover {
  background-color: #e9ecef;
  border-radius: 4px;
}

.toc-scroll a.active {
  font-weight: bold;
  background-color: #d6efe3b3;
  border-left: 4px solid var(--deep-green); 
  position: relative;
}

.toc-scroll a.active::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  width: 4px;
}

      
      
.progress-bar-container {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #333; /* Adjust text color as needed */
}

.progress-bar-wrapper {
    width: 100%;
    height: 20px; /* Increased height */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%; /* Start at 0 but will update dynamically */
    background-color: var(--deep-green); 
    transition: width 0.3s ease-in-out; /* Smooth transition */
}

#upload_file_progress .progress-bar {
  background-color: var(--deep-green)!important;
}


.navbar-brand {
  width: 249px;
}

.navbar-default {
  padding-bottom: 0;
  margin-bottom: 0;
  position: sticky;
  background-color: var(--deep-green);
    border-color: var(--deep-green);
  top: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}



@media screen and (max-width: 768px) {
  
  
  .toc-scroll {
    display: none;
  }

  .content {
    width: 100%;
  }
  
  .content-container {
    flex-direction: column;
  }
  
.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
    max-width: 100%;
}
}

.navbar-default .navbar-nav>li>a[data-value="page_home"] {
    display: none;
}

.tab-content,.container-fluid {
  height:100%;
}

.tab-pane {
  height: auto;
}

.container-fluid {
  padding:0px;
}

.navbar > .container-fluid:first-child {
  padding:0px 15px;}

.banner {
      width:100%;
      height:100vh;
      color:white;
      padding:10px 25px;
      display: flex;
      align-items: center;
}

.banner-bg {
      background-image: url('pictures/soil_v2.jpeg');
      height: 100vh;
      width:100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
.banner-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7); /* Slight black overlay */
      }
      
 .banner-content {
    position: absolute;
    width:65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    }

.container {
  width: 100%;
  height: calc(100vh - 56px); /* Full height minus navbar */
  overflow: hidden;
}

.stepper {
  width: 250px;
  background-color: ##e0ddd9;
  padding: 20px;
  padding-top: 40px;
  border-right: 2px solid #eeeeee;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: calc(100vh - 56px); /* Full height minus navbar */
  overflow-y: auto;
}

/* Hide the stepper section on mobile screens */
@media screen and (max-width: 768px) {
  .stepper {
    display: none;
  }
  
  .shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
    max-width: 300px;
}
  
  .col-2 {
    display: flex;
    flex-direction: column;
    gap: 10px!important;
    align-items: center;
}
  
    .buttons {
    margin-top:20px;
  }

  
  .form-section {
    margin-left:50px!important;
  }
}

@media screen and (min-width: 769px){
   .progress-bar-container {
        display: none;
    }
    
    .modal-dialog{		
    width: 65%;		
}
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
}

.step:last-child {
  margin-bottom: 0;
}

.step::after {
  content: '';
  position: absolute;
  left: 15px;
  top: calc(100% + 5px);
  width: 2px;
  height: 30px;
  background-color: #e0ddd9;
}

.step.completed::after {
  content: '';
  position: absolute;
  left: 15px;
  top: calc(100% + 5px);
  width: 2px;
  height: 30px;
  background-color: var(--deep-green);
}


.step:last-child::after {
  display: none;
}

.step-circle {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e0ddd9;
  color: #635b4b;
  font-weight: bold;
  margin-right: 15px;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.step.active .step-circle {
  background-color: transparent;
  color: var(--soil-brown);
  border: 2px var(--soil-brown) solid;
}

.step.completed .step-circle {
  background-color: var(--deep-green);
  color: white;
}

.step.completed .step-circle i {
  font-size: 16px;
}

.step-text {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
}

#producer_id .actions-btn.bs-select-all {
  display: none!important;
}

#producer_id + .dropdown-menu .bs-actionsbox .select-all {
    display: none !important;
}

#producer_id .actions-btn.bs-deselect-all{
  width:100%!important;
  border-radius: 5px!important;
}

.filter-option-inner-inner {
  display:flex!important;
}

.modal-body {
	padding: 25px 50px;
}


#modal-preview .tab-content {
  padding:30px;
}


p {
  font-size:16px;
  color: #71717a;
}

.form-text {
  font-size:16px;
  color: #71717a;
  margin-bottom:20px;
}

.form-step {
  color: var(--deep-green);
  font-family:Poppins;
}

.form-title {
  font-family: Poppins;
  font-weight: bold;
  margin-top:0px;
}

/* Add this to style disabled elements */
.step.disabled {
  cursor: not-allowed; /* Indicate it's not clickable */
  opacity: 0.8; /* Dim the appearance */
  pointer-events: none; /* Prevent any interaction */
}

.step.disabled .step-circle {
  background-color: #e0ddd9; /* Gray color for disabled step */
  color: #635b4b87; /* Lighter text color */
}

.step.disabled .step-text {
  color: #9ca3af; /* Dimmed text color for disabled step */
}

.buttons button:disabled {
  background-color: #d1d5db; /* Light gray for disabled button */
  color: #9ca3af; /* Dimmed text for disabled button */
  cursor: not-allowed; /* Indicate it's not clickable */
  border: none; /* Remove border for consistency */
  opacity: 0.6; /* Slightly transparent */
}

.form-section {
  width:100%;
  margin-left: 300px; /* Offset for fixed stepper */
  margin-top:20px;
  margin-right:50px;
  display: flex;
  height: calc(100vh - 120px);
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0; /* Prevent shrinking */
}

.form-content {
  flex: 1;
  min-height:600px;
  padding-bottom:50px;
  display: flex;
  flex-direction: column;
}


.col-2{
  display: flex;
  gap: 50px; 
  margin:20px 0px;
}

.active {
  visibility: visible;
}

.hidden {
     visibility: hidden;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Ensure buttons align at the bottom */
}

.buttons button {
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .prev, .buttons .next, .buttons .build {
  width: 100px;
}

.buttons .build {
  display:flex;
  align-items: center;
  justify-content: center;
  background: var(--deep-green);
  color:white;
}

